Repository swiftlang/swift-tools-support-core, pull requests merged in 2023-09, with the labels that each got.

#431 Fix platform conditions in `Package.swift`
  Package.swift
Labels: bug

#432 [5.10] Fix platform conditions in `Package.swift`
  Package.swift
Labels: bug, swift 5.10

#430 [5.9] [FileSystem] Add API for obtaining item replacement directory
  Sources/TSCBasic/FileSystem.swift
Labels: swift 5.9
